In [26]:
import matplotlib.pyplot as plt
import numpy
import numpy as np
import pandas
import pandas as pd
import seaborn as sns
import re

import tensorflow as tf
from pandas import DataFrame

from tensorflow import keras
from tensorflow.keras import layers
from tensorflow.keras.layers.experimental import preprocessing

# Make numpy printouts easier to read.
np.set_printoptions(precision=3, suppress=True)

In [2]:
print(tf.__version__)

2.5.0-dev20201227

In [3]:
pd.set_option('display.max_columns', None)

In [4]:
dataset = pd.read_csv('WinOrLoose/tetris-result.txt', sep='\t', error_bad_lines=False, index_col=False, dtype='unicode')

In [9]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72 entries, 0 to 71
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   time    72 non-null     int64
 1   player  72 non-null     int64
 2   move    72 non-null     object
dtypes: int64(2), object(1)
memory usage: 1.8+ KB

In [22]:
dataset

    time  player       move
0      3       2  lines(18)
1      3       1  lines(18)
2      5       1  lines(18)
3      5       2  lines(17)
4      6       2  lines(17)
..   ...     ...        ...
67    60       2  lines(10)
68    61       1   lines(0)
69    62       1   lines(2)
70    62       1  lines(-2)
71    62       1        end

[72 rows x 3 columns]

In [24]:
dataset.loc[dataset['time']==3]
#x = dataset.tail(1)['time'].item()
#x

   time  player       move
0     3       2  lines(18)
1     3       1  lines(18)

In [8]:
dataset['time'] = pd.to_numeric(dataset['time'], errors='coerce')
dataset['player'] = pd.to_numeric(dataset['player'], errors='coerce')

In [ ]:
def convertObjectToFloat():
    for columnName in dataset.columns.values:
            dataset[columnName] = pd.to_numeric(dataset[columnName], errors='coerce')

convertObjectToFloat()

In [32]:
LINES_PATTERN = "(?<=lines\()[^)]*(?=\))"

def get_tetris_result(data):
    max_time = dataset.tail(1)['time'].item()
    tetris_result = []
    first_player = 1
    first_player_lines = 0
    second_player_lines = 0
    i = 1

    while i <= max_time:
        temp_data = data.loc[dataset['time']==i]

        if temp_data.empty:
            method_name(first_player_lines,second_player_lines,tetris_result)
            i+=1
            continue

        for index, row in temp_data.iterrows():
            if re.search(LINES_PATTERN, row['move']):
                line_number = re.findall(LINES_PATTERN, row['move'])[0]
                if row['player'] == first_player:
                    first_player_lines = line_number
                else:
                    second_player_lines = line_number
                    
        method_name(first_player_lines,second_player_lines,tetris_result)
        i+=1
        continue
        
    i+=1
    return tetris_result

def method_name(first_player_lines, second_player_lines, tetris_result):
    if first_player_lines > second_player_lines:
        tetris_result.append(1)
    elif first_player_lines < second_player_lines:
        tetris_result.append(-1)
    else:
        tetris_result.append(0)

yy = get_tetris_result(dataset)
yy

[0,
 0,
 0,
 0,
 1,
 1,
 0,
 -1,
 -1,
 -1,
 1,
 1,
 0,
 0,
 0,
 -1,
 -1,
 -1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 1,
 -1,
 1,
 1,
 1,
 -1,
 -1,
 1,
 1,
 -1,
 -1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 -1,
 1,
 1,
 -1,
 -1]